<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_COMPLETE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:name=".app.WidgetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Synthesisproject"
        tools:targetApi="n">
        <activity
            android:name=".NetworkFlowActivity"
            android:exported="false" />
        <activity
            android:name=".BatteryFlowActivity"
            android:exported="false" />
        <activity
            android:name=".CrossDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".CronetActivity"
            android:exported="false" />
        <activity
            android:name=".ImageLabelerActivity"
            android:exported="false" />
        <activity
            android:name=".TextBytesActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".PagerActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinatorLayoutNestedScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".LinearActivity"
            android:exported="false" />
        <activity
            android:name=".FlipActivity"
            android:exported="false" />
        <activity
            android:name=".BannerActivity"
            android:exported="false" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" /> <!-- <activity -->
        <!-- android:name=".WebActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ViewFlipperActivity"
            android:exported="false" />
        <activity
            android:name=".AlertActivity"
            android:exported="false" />
        <activity
            android:name=".GlideScaleActivity"
            android:exported="false" />
        <activity
            android:name=".ScaleActivity"
            android:exported="false" />
        <activity
            android:name=".blur.RealtimeBlurViewActivity"
            android:exported="false" />
        <activity
            android:name=".blur.ShapeBlurViewActivity"
            android:exported="false" />
        <activity
            android:name=".blur.BlurViewActivity"
            android:exported="false" />
        <activity
            android:name=".blur.BlurryActivity"
            android:exported="false" />
        <activity
            android:name=".DragSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ReboundActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>